body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px 30px 120px;
  background-color: #032043;
  color: #91bcf1;
}

.logo {
  font-size: 1.9rem;
  font-weight: bolder;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #91bcf1;
  text-decoration: none;
  font-weight: 200;
  font-size: 16px;
  padding-left: 20px;

}

nav a:hover {
  color: #ddd;
}

/* Hamburger menu styling */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

/* Hide menu on small screens */
@media (max-width: 768px) {
.header{
    padding: 30px;
}
  nav {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    padding: 20px;
    gap: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .header.active nav {
    display: flex;
    animation: slideDown 0.3s ease;
  }

  /* Slide down animation */
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
