body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px 30px 120px;
  background-color: #032043;
  color: #91bcf1;
}

.logo {
  font-size: 1.9rem;
  font-weight: bolder;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #91bcf1;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding-left: 20px;
}

nav a:hover {
  color: #ddd;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 768px) {
  .header {
    padding: 30px;
  }
  nav {
    display: none;
    flex-direction: column;
    background-color: #032043;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    padding: 20px;
    gap: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .header.active nav {
    display: flex;
    animation: slideDown 0.3s ease;
  }

  /* Slide down animation */
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* ----------------------------------------------------------------------------------------- */

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  padding: 0 20px;
  background-image: linear-gradient(to bottom, #032043, #000b18);
}

.profile {
  margin-right: 50px;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #285178;
  object-fit: cover;
}

.hero-text {
  max-width: 600px;
  color: #91bcf1;
}

.hero-text h1 {
  font-size: 2.3rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.hero-text .highlight {
  color: #0b6be0;
}

.hero-text h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #91bcf1;
}

.hero-text p {
  font-size: 1.2em;
  margin-bottom: 30px;
  color: #91bcf1;
}

.social-links {
  margin: 10px;
}
.social-links i {
  padding-left: 10px;
  margin-bottom: 1.5vh;
}

.btn {
  display: inline-block;
  background-color: #0b6be0;
  color: #fff;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #1d3c59;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column; 
    text-align: center; 
  }

  .profile {
    margin-right: 0; 
    margin-bottom: 20px;
  }

  .hero-text {
    max-width: 100%; 
    margin: 0 auto; 
  }

  .profile-img {
    width: 200px; 
    height: 200px;
  }

  .social-links i {
    margin-bottom: 2vh;
    padding-left: 15px;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
}
/* --------------------------------------------------------------------------------------------------------- */
